section#intro.intro
	#feature-carousel.carousel.slide
		.carousel-inner
			.item.active
				.container
					.row
						.col-sm-4
							h4.center Lorem
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#myModal", data-toggle="modal") &plus;
							#myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
								.modal-dialog
									.modal-content
										.modal-header
											button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
											h4.modal-title Modal Title
										.modal-body
											p Body Content
										.modal-footer
											button.btn.btn-default(type="button", data-dismiss="modal") Close
											button.btn.btn-primary(type="button", data-dismiss="modal") Save Changes
						.col-sm-4
							h4.center Ipsum
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#modalTwo", data-toggle="modal") &plus;
							#modalTwo.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
								.modal-dialog
									.modal-content
										.modal-header
											button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
											h4.modal-title Modal Title
										.modal-body
											p Body Content
										.modal-footer
											button.btn.btn-default(type="button", data-dismiss="modal") Close
											button.btn.btn-primary(type="button", data-dismiss="modal") Save Changes
						.col-sm-4
							h4.center Genra
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#modalThree", data-toggle="modal") &plus;
							#modalThree.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
								.modal-dialog
									.modal-content
										.modal-header
											button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
											h4.modal-title Modal Title
										.modal-body
											p Body Content
										.modal-footer
											button.btn.btn-default(type="button", data-dismiss="modal") Close
											button.btn.btn-primary(type="button", data-dismiss="modal") Save Changes
			.item
				.container
					.row
						.col-sm-4
							h4.center Lorem
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#myModal", data-toggle="modal") &plus;
						.col-sm-4
							h4.center Lorem
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#myModal", data-toggle="modal") &plus;
						.col-sm-4
							h4.center Lorem
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#myModal", data-toggle="modal") &plus;
			.item
				.container
					.row
						.col-sm-4
							h4.center Lorem
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#myModal", data-toggle="modal") &plus;
						.col-sm-4
							h4.center Lorem
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#myModal", data-toggle="modal") &plus;
						.col-sm-4
							h4.center Lorem
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#myModal", data-toggle="modal") &plus;
	
		a.left.carousel-control(href="#feature-carousel", data-slide="prev")
			span.icon-prev
		a.right.carousel-control(href="#feature-carousel", data-slide="next")
			span.icon-next
		ol.carousel-indicators
			li.active(data-target="#header-carousel", data-slide-to="0")
			li(data-target="#header-carousel", data-slide-to="1")
			li(data-target="#header-carousel", data-slide-to="2")
